<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <title>Fill new user details</title>
  </head>
  <body data-bs-theme="dark" style="margin: 20px;">
    <center>
      <h2>Fill in user details</h2>
      <form action="." method="POST" style="width: 50%; margin-top:50px;" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" name="user_name" placeholder="Username" required />
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email" required />
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Password" required />
          <small id="passwordHelp" class="form-text text-muted">We hopefully hashed your password; so don't worry.</small>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" name="first_name" placeholder="First name" required />
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" name="last_name" placeholder="Last name" required />
        </div>
        <div class="mb-3">
          <input type="tel" class="form-control" name="phone_number" placeholder="Phone number" required />
        </div>
        <div class="mb-3">
          <select class="form-control" name="user_type" required>
            <option>Buyer</option>
            <option>Seller</option>
            <option>Admin</option>
          </select>
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" name="aadhar_number" placeholder="Aadhaar number" required />
        </div>
        <div class="mb-3">
          <input type="file" class="form-control" name="document" required />
        </div>
        <button type="submit" style="margin-top:10px;" class="btn btn-primary">Submit</button>
      </form>
    </center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
