<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <title>Profile</title>
  </head>

  <body data-bs-theme="dark">
    <center>
      <div style="margin-top:20px;">
        <a href="/" class="btn btn-outline-secondary"><button type="button" class="btn-close"></button></a>
      </div>
      {# profile #}
      <form action="." method="POST" style="margin-top: 70px; width: 50%" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card mb-3" style="text-align: left;">
          <div class="card-header">
            <h4 class="card-title">Profile</h4>
          </div>
          <div class="card-body container text-center">
            <div class="row">
              <div class="col input-group mb-2">
                <div class="input-group-text">Username</div>
                <input type="text" class="form-control" name="user_name" value="{{ username }}" required disabled />
              </div>
              <div class="col input-group mb-2">
                <div class="input-group-text">Roll number</div>
                <input type="number" class="form-control" name="roll_number" value="{{ roll_number }}" required disabled />
              </div>
            </div>
            <div class="row">
              <div class="col input-group mb-2">
                <div class="input-group-text">Email</div>
                <input type="text" class="form-control" name="email" value="{{ email }}" required disabled />
              </div>
            </div>
            <div class="row">
              <div class="col input-group mb-2">
                <div class="input-group-text">First name</div>
                <input type="text" class="form-control" name="first_name" value="{{ first_name }}" required />
              </div>
              <div class="col input-group mb-2">
                <div class="input-group-text">Last name</div>
                <input type="text" class="form-control" name="last_name" value="{{ last_name }}" required />
              </div>
            </div>
            <div class="row">
              <div class="col input-group mb-2">
                <div class="input-group-text">₹</div>
                <input type="text" class="form-control" value="{{ wallet }}" required disabled />
              </div>
            </div>
          </div>
          <div class="card-footer text-body-secondary" style="padding:20px;">
            <div class="col-6 btn-group" role="group" aria-label="button_action">
              <a href="../../" class="btn btn-outline-primary">Cancel</a>
              <button type="submit" name="action" class="btn btn-primary" value="profileDetailButton">Save</button>
            </div>
          </div>
        </div>
      </form>
      <div style="width: 50%; margin-top: 50px;">
        <form action="{% url 'verify_contract' %}" method="POST">
          {% csrf_token %}
          <div class="card mb-3" style="text-align: left;">
            <div class="card-header">
              <h4 class="card-title">Contract Verification</h4>
            </div>
            <div class="card-body container text-center">
              <div class="input-group mb-2">
                <div class="input-group-text">Contract SHA</div>
                <input type="text" class="form-control" name="contract_sha" placeholder="Contract SHA digest" required />
              </div>
              <div class="input-group mb-2">
                <div class="input-group-text">Contract Verification</div>
                <input type="text" class="form-control" name="verification_string" placeholder="Verification string" required />
              </div>
            </div>
            <div class="card-footer text-body-secondary" style="padding:20px;">
              <button type="submit" class="btn btn-primary col-6">Verify</button>
            </div>
          </div>
        </form>
        {% if verification_result %}
          {% if verification_result == 'sanctioned' %}
            <p>Sanctioned by portal</p>
          {% else %}
            <p>Not sanctioned by portal</p>
          {% endif %}
        {% endif %}
      </div>
      {# properties #}
      <div class="accordion" style="margin-top: 50px; width: 50%; margin-bottom: 100px;">
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">Your Properties</button></h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
              {% if properties %}
                {% for property in properties %}
                  <form id="update_form" method="POST" action="../change_ownership/{{ property.propertyId }}/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card mb-3" style="text-align: left;">
                      <div class="card-header">
                        {% if property.listed == True %}
                          <div class="alert alert-success">
                            <center>LISTED</center>
                          </div>
                        {% else %}
                          <div class="alert alert-warning">
                            <center>DELISTED</center>
                          </div>
                        {% endif %}
                        <h4 class="card-title">{{ property.title }}</h4>
                        <p class="card-text">{{ property.description }}</p>
                      </div>
                      <div class="card-body container text-center">
                        <div class="row">
                          <div class="col input-group mb-2">
                            <div class="input-group-text">₹</div>
                            <input type="number" class="form-control" value="{{ property.price }}" required disabled />
                          </div>
                          <div class="col input-group mb-2">
                            <div class="input-group-text">Area</div>
                            <input type="number" class="form-control" value="{{ property.area }}" required disabled />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col input-group mb-2">
                            <div class="input-group-text">Bedrooms</div>
                            <input type="text" class="form-control" value="{{ property.bedrooms }}" required disabled />
                          </div>
                          <div class="col input-group mb-2">
                            <div class="input-group-text">Bathrooms</div>
                            <input type="text" class="form-control" value="{{ property.bathrooms }}" required disabled />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col input-group mb-2">
                            <div class="input-group-text">Location</div>
                            <input type="text" class="form-control" value="{{ property.location.name }}" required disabled />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col input-group mb-2">
                            <div class="input-group-text">Status</div>
                            <input type="text" class="form-control" value="{{ property.status }}" required disabled />
                          </div>
                          <div class="col input-group mb-2">
                            {% if property.status == 'For Rent' and property.rent_duration %}
                              <div class="input-group-text">Rented For (months)</div>
                              <input type="text" class="form-control" value="{{ property.rent_duration }}" required disabled />
                            {% else %}
                              <div class="input-group-text">Available date</div>
                              <input type="text" class="form-control" value="{{ property.availabilityDate }}" required disabled />
                            {% endif %}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col input-group mb-2">
                            <div class="input-group-text">Proof of Identity</div>
                            <input type="file" class="form-control" name="proof_identity_{{ property.propertyId }}" required />
                          </div>
                          <div class="col input-group mb-2">
                            <div class="input-group-text">Ownership Document</div>
                            <input type="file" class="form-control" name="ownership_document_{{ property.propertyId }}" required />
                          </div>
                        </div>
                      </div>
                      <div class="card-footer text-body-secondary" style="padding:20px;">
                        <blockquote class="blockquote" style="margin-top:10px;">
                          {% if property.bidder != None %}
                            <footer class="blockquote-footer">bid of {{ property.currentBid }} by {{ property.bidder }}</footer>
                          {% else %}
                            <footer class="blockquote-footer">No bid yet</footer>
                          {% endif %}
                        </blockquote>
                        <div class="col-auto btn-group" role="group" aria-label="button_action">
                          <a href="../delete_property/{{ property.propertyId }}/" class="btn btn-outline-primary">Delete Property</a>
                          <a onclick="myFunction()" class="btn btn-outline-primary">Change ownership document</a>
                          {% if property.bidder != None %}
                            {% load index %}
                            {% with contract=contracts|index:forloop.counter0 %}
                              {% if contract == None %}
                                <a href="../contract/{{ property.propertyId }}/" class="btn btn-primary">Make contract</a>
                              {% elif contract.verifiedByBuyer == False %}
                                <a class="btn btn-primary disabled" aria-disabled="true">Verification from other side is pending</a>
                              {% else %}
                                <a class="btn btn-success disabled" aria-disabled="true">Contract verified</a>
                              {% endif %}
                            {% endwith %}
                          {% else %}
                            <a class="btn btn-primary disabled" aria-disabled="true">Cannot proceed to contract verfication</a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </form>
                {% endfor %}
              {% else %}
                <strong style="text-align:left;">You do not have any property listings</strong>
                <div class="d-grid gap-2 col-6 mx-auto" style="margin-top:15px;">
                  <a class="btn btn-primary" href="/property/add">Click to add properties</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">Property Bidding Activity</button></h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
              {% if propertyBindings %}
                {% for property in propertyBindings %}
                  <div class="card mb-3" style="text-align: left;">
                    <div class="card-header">
                      <h4 class="card-title">{{ property.title }}</h4>
                      <p class="card-text">{{ property.description }}</p>
                    </div>
                    <div class="card-body">
                      <div class="container text-center">
                        <div class="row">
                          <div class="col">
                            <div class="input-group mb-2">
                              <div class="input-group-text">₹</div>
                              <input type="number" class="form-control" value="{{ property.price }}" required disabled />
                            </div>
                          </div>
                          <div class="col">
                            <div class="input-group mb-2">
                              <div class="input-group-text">Area</div>
                              <input type="number" class="form-control" value="{{ property.area }}" required disabled />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="input-group mb-2">
                              <div class="input-group-text">Bedrooms</div>
                              <input type="text" class="form-control" value="{{ property.bedrooms }}" required disabled />
                            </div>
                          </div>
                          <div class="col">
                            <div class="input-group mb-2">
                              <div class="input-group-text">Bathrooms</div>
                              <input type="text" class="form-control" value="{{ property.bathrooms }}" required disabled />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-group mb-2">
                            <div class="input-group-text">Location</div>
                            <input type="text" class="form-control" value="{{ property.location.name }}" required disabled />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="input-group mb-2">
                              <div class="input-group-text">Status</div>
                              <input type="text" class="form-control" value="{{ property.status }}" required disabled />
                            </div>
                          </div>
                          <div class="col">
                            {% if property.status == 'For Rent' and property.rent_duration %}
                              <div class="input-group mb-2">
                                <div class="input-group-text">Rented For (months)</div>
                                <input type="text" class="form-control" value="{{ property.rent_duration }}" required disabled />
                              </div>
                            {% else %}
                              <div class="input-group mb-2">
                                <div class="input-group-text">Available date</div>
                                <input type="text" class="form-control" value="{{ property.availabilityDate }}" required disabled />
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-body-secondary" style="padding:20px;">
                      <blockquote class="blockquote" style="margin-top:10px;">
                        {% if property.bidder != None %}
                          <footer class="blockquote-footer">bid of {{ property.currentBid }} by {{ property.bidder }}</footer>
                        {% else %}
                          <footer class="blockquote-footer">No bid yet</footer>
                        {% endif %}
                      </blockquote>
                      <div class="col-6 btn-group" role="group" aria-label="button_action">
                        {% load index %}
                        {% with contract=propertyBidingsContracts|index:forloop.counter0 %}
                            {% if contract == None or contract.verifiedBySeller == False %}
                                <a class="btn btn-primary disabled" aria-disabled="true">Waiting for other party to verify first</a>
                            {% elif contract.verifiedByBuyer == False %}
                                <a href="../contract/{{ property.propertyId }}/" class="btn btn-primary">Verify to complete the contract</a>
                            {% else %}
                                <form method="POST" action="{% url 'process_payment' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="property_id" value="{{ property.propertyId }}" />
                                    <div class="col input-group mb-2">
                                      <div class="input-group-text">Ownership document</div>
                                      <input type="file" class="form-control" name="ownership_document" required />
                                    </div>
                                    <center>
                                        <button type="submit" class="btn btn-primary" name="action" value="payButton">Proceed to Pay</button>
                                    </center>
                                </form>
                            {% endif %}
                        {% endwith %}
                    </div>
                    
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <strong style="text-align:left;">You have not bid upon any properties</strong>
                <div class="d-grid gap-2 col-6 mx-auto" style="margin-top:15px;">
                  <a class="btn btn-primary" href="/property/list">Click to bid on properties</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Sold Properties
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
              {% if pastProperties %}
                {% for property in pastProperties %}
                  <div class="card mb-3" style="text-align: left;">
                    <div class="card-header">
                      <h4 class="card-title">{{ property.title }}</h4>
                      <p class="card-text">{{ property.description }}</p>
                    </div>
                    <div class="card-body">
                      <div class="container text-center">
                        <div class="row">
                          <div class="col">
                            <div class="input-group mb-2">
                              <div class="input-group-text">₹</div>
                              <input type="number" class="form-control" value="{{ property.price }}" required disabled />
                            </div>
                          </div>
                          <div class="col">
                            <div class="input-group mb-2">
                              <div class="input-group-text">Area</div>
                              <input type="number" class="form-control" value="{{ property.area }}" required disabled />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="input-group mb-2">
                              <div class="input-group-text">Bedrooms</div>
                              <input type="text" class="form-control" value="{{ property.bedrooms }}" required disabled />
                            </div>
                          </div>
                          <div class="col">
                            <div class="input-group mb-2">
                              <div class="input-group-text">Bathrooms</div>
                              <input type="text" class="form-control" value="{{ property.bathrooms }}" required disabled />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-group mb-2">
                            <div class="input-group-text">Location</div>
                            <input type="text" class="form-control" value="{{ property.location.name }}" required disabled />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="input-group mb-2">
                              <div class="input-group-text">Status</div>
                              <input type="text" class="form-control" value="{{ property.status }}" required disabled />
                            </div>
                          </div>
                          <div class="col">
                            {% if property.status == 'Rented' and property.rent_duration %}
                              <div class="input-group mb-2">
                                <div class="input-group-text">Rented For (months)</div>
                                <input type="text" class="form-control" value="{{ property.rent_duration }}" required disabled />
                              </div>
                            {% else %}
                              <div class="input-group mb-2">
                                <div class="input-group-text">Available date</div>
                                <input type="text" class="form-control" value="{{ property.availabilityDate }}" required disabled />
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-body-secondary" style="padding:20px;">
                      <blockquote class="blockquote" style="margin-top:10px;">
                        {% if property.bidder != None %}
                          <footer class="blockquote-footer">bid of {{ property.currentBid }} by {{ property.bidder }}</footer>
                        {% else %}
                          <footer class="blockquote-footer">No bid yet</footer>
                        {% endif %}
                      </blockquote>
                      <div class="col-6 btn-group" role="group" aria-label="button_action">
                        <a class="btn btn-primary disabled" aria-disabled="true">{{ property.status }}</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <strong style="text-align:left;">No sold properties</strong>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script>
        function myFunction() {
          document.getElementById('update_form').submit()
        }
      </script>
    </center>
  </body>
</html>
