<!DOCTYPE html>
{% load custom_tags %}
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" media="(prefers-color-scheme:dark)" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.9.0/cdn/themes/dark.css" onload="document.documentElement.classList.add('sl-theme-dark');" />
    <title>Fill new property details</title>
  </head>
  <body data-bs-theme="dark" style="margin: 20px;">
    <center>
      {% if error_message %}
        <div class="alert alert-danger" role="alert" style="margin-top:20px; width:50%;">{{ error_message|safe }}</div>
      {% endif %}
      <form action="." method="POST" style="margin-top:100px; width:50%;" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card mb-3" style="text-align: left;">
          <div class="card-header">
            <h4 class="card-title">Add new property form</h4>
          </div>
          <div class="card-body container text-center">
            <div class="row">
              <div class="col input-group mb-2">
                <div class="input-group-text">Title</div>
                <input type="text" class="form-control" name="title" required />
              </div>
            </div>
            <div class="row">
              <div class="col input-group mb-2">
                <div class="input-group-text">Description</div>
                <input type="text" class="form-control" name="description" rows="3" required />
              </div>
            </div>
            <div class="row">
              <div class="col input-group mb-2">
                <div class="input-group-text">Base price (₹)</div>
                <input type="number" class="form-control" name="price" min="1" required />
              </div>
              <div class="col input-group mb-2">
                <div class="input-group-text">Area (not in acres)</div>
                <input type="number" class="form-control" name="area" min="1" required />
              </div>
            </div>
            <div class="row">
              <div class="col input-group mb-2">
                <div class="input-group-text">Bedrooms</div>
                <input type="number" class="form-control" name="bedrooms" min="1" required />
              </div>
              <div class="col input-group mb-2">
                <div class="input-group-text">Bathrooms</div>
                <input type="number" class="form-control" name="bathrooms" min="1" required />
              </div>
            </div>
            <div class="row">
              <div class="col input-group mb-2">
                <div class="input-group-text">Location</div>
                <input type="text" class="form-control" name="location" required />
              </div>
            </div>
            <div class="row">
              <div class="col input-group mb-2">
                <div class="input-group-text">Status</div>
                <select class="form-control" name="status" id="statusDropdown" required>
                  <option>For Sale</option>
                  <option>For Rent</option>
                </select>
              </div>
            </div>
            <div id="rentDurationField" style="display: none;">
              <div class="row">
                <div class="col input-group mb-2">
                  <div class="input-group-text">Rent duration</div>
                  <select class="form-control" name="rent_duration">
                    {% for i in "12"|times %}
                      <option value="{{ i }}">{{ i }} months</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row mb-2">
                <small class="form-text text-muted">Monthly rent would be the base price in the case rent is chosen</small>
              </div>
            </div>
            <div class="row">
              <div class="col input-group mb-2">
                <div class="input-group-text">Availability date</div>
                <input type="date" class="form-control" name="available_date" required />
              </div>
            </div>
            <div class="row">
              <div class="col input-group mb-2">
                <div class="input-group-text">Proof Of Identity</div>
                <input type="file" class="form-control" name="document" required />
              </div>
              <div class="col input-group mb-2">
                <div class="input-group-text">Ownership document</div>
                <input type="file" class="form-control" name="ownership_document" required />
              </div>
            </div>
            <div class="row">
              <small class="form-text text-muted">Ownership document: A document that will later be used to show that you own this property.</small>
            </div>
          </div>
          <div class="card-footer text-body-secondary" style="padding:20px;">
            <div class="d-grid gap-2 col-6" role="group" aria-label="button_action">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.9.0/cdn/shoelace-autoloader.js"></script>
    <script>
      if (statusDropdown.value === 'For Rent') {
          rentDurationField.style.display = 'block';
      }
    </script>
    <script>
      const statusDropdown = document.getElementById('statusDropdown');
      const rentDurationField = document.getElementById('rentDurationField');
  
      statusDropdown.addEventListener('change', function() {
          if (statusDropdown.value === 'For Rent') {
              rentDurationField.style.display = 'block';
          } else {
              rentDurationField.style.display = 'none';
          }
      });
    </script>
  
  </body>
</html>
