<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <title>Fill new property details</title>
  </head>
  <body data-bs-theme="dark" style="margin: 20px;">
    <center>
      <h2>Fill in property details</h2>
      <form action="." method="POST" style="width: 50%; margin-top:50px;" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" name="title" placeholder="Title" required />
        </div>
        <div class="mb-3">
          <textarea class="form-control" placeholder="Description" name="description" rows="3" required></textarea>
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" name="price" placeholder="Price" min="0" required />
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" name="area" placeholder="Area (in acres)" min="0" required />
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" name="property_type" placeholder="Property type" required />
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" name="bedrooms" placeholder="Bedrooms" min="0" required />
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" name="bathrooms" placeholder="Bathrooms" min="0" required />
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" name="location" placeholder="Location" required />
        </div>
        <div class="mb-3">
          <select class="form-control" name="status" required>
            <option>For Sell</option>
            <option>For Rent</option>
          </select>
        </div>
        <div class="mb-3">
          <input type="date" class="form-control" name="available_date" placeholder="Date of availability" required />
        </div>
        <button type="submit" style="margin-top:10px;" class="btn btn-primary">Submit</button>
      </form>
    </center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
