<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" media="(prefers-color-scheme:dark)" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.9.0/cdn/themes/dark.css" onload="document.documentElement.classList.add('sl-theme-dark');" />
    <title>Property Listing</title>
  </head>
  <body data-bs-theme="dark" style="margin: 20px">
    <center>
      <nav style="--bs-breadcrumb-divider: '>';  width:50%; margin-top:20px;" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Homepage</a></li>
          <li class="breadcrumb-item active" aria-current="page">Properties</li>
          <li class="breadcrumb-item"><a href="/property/add">New</a></li>
        </ol>
      </nav>
      {# filter options #}
      <form method="GET" action="">
        <div class="btn-group" style="width:50%;" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Type</button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="?type=For Sale">For Sale</a>
              </li>
              <li>
                <a class="dropdown-item" href="?type=For Rent">For Rent</a>
              </li>
            </ul>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Budget</button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="?budget=Between 1 to 10,00,000">Between 1 to 10,00,000</a>
              </li>
              <li>
                <a class="dropdown-item" href="?budget=Between 10,00,001 to 1,00,00,000">Between 10,00,001 to 1,00,00,000</a>
              </li>
              <li>
                <a class="dropdown-item" href="?budget=Between 1,00,00,001 to 100,00,00,000">Between 1,00,00,001 to 100,00,00,000</a>
              </li>
            </ul>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Area</button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="?location_area=Between 1 to 100 acres">Between 1 to 100 acres</a>
              </li>
              <li>
                <a class="dropdown-item" href="?location_area=Between 101 to 500 acres">Between 101 to 500 acres</a>
              </li>
              <li>
                <a class="dropdown-item" href="?location_area=Between 501 to 1000 acres">Between 501 to 1000 acres</a>
              </li>
            </ul>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Availability Dates</button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="?availability_date=24hours">Last 24 hours</a>
              </li>
              <li>
                <a class="dropdown-item" href="?availability_date=7days">Last 7 days</a>
              </li>
            </ul>
          </div>
          <div class="btn-group" role="group">
            <a class="btn btn-outline-primary" aria-expanded="false" href="/property/list">Clear filter</a>
          </div>
        </div>
      </form>
      {# Properties #}
      <div style="width: 50%; margin-top: 100px">
        {% if properties %}
          {% for property in properties %}
            <div class="card mb-3" style="text-align: left;">
              <div class="card-header">
                <h4 class="card-title">{{ property.title }}</h4>
                <p class="card-text">{{ property.description }}</p>
              </div>
              <div class="card-body">
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      <div class="input-group mb-2">
                        <div class="input-group-text">₹</div>
                        <input type="number" class="form-control" value="{{ property.price }}" required disabled />
                      </div>
                    </div>
                    <div class="col">
                      <div class="input-group mb-2">
                        <div class="input-group-text">Area</div>
                        <input type="number" class="form-control" value="{{ property.area }}" required disabled />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="input-group mb-2">
                        <div class="input-group-text">Bedrooms</div>
                        <input type="text" class="form-control" value="{{ property.bedrooms }}" required disabled />
                      </div>
                    </div>
                    <div class="col">
                      <div class="input-group mb-2">
                        <div class="input-group-text">Bathrooms</div>
                        <input type="text" class="form-control" value="{{ property.bathrooms }}" required disabled />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-group mb-2">
                      <div class="input-group-text">Location</div>
                      <input type="text" class="form-control" value="{{ property.location.name }}" required disabled />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="input-group mb-2">
                        <div class="input-group-text">Status</div>
                        <input type="text" class="form-control" value="{{ property.status }}" required disabled />
                      </div>
                    </div>
                    <div class="col">
                      {% if property.status == "For Rent" and property.rent_duration %}
                      <div class="input-group mb-2">
                          <div class="input-group-text">Rented For (months)</div>
                          <input type="text" class="form-control" value="{{ property.rent_duration }}" required disabled />
                      </div>
                      {% else %}
                      <div class="input-group mb-2">
                          <div class="input-group-text">Available date</div>
                          <input type="text" class="form-control" value="{{ property.availabilityDate }}" required disabled />
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% if property.status != 'Sold' and property.status != 'Rented' %}
                <div class="card-footer text-body-secondary" style="padding:20px;">
                  <blockquote class="blockquote" style="margin-top:10px;">
                    {% if property.bidder != None %}
                      <footer class="blockquote-footer">last bid of {{ property.currentBid }} by {{ property.bidder }}</footer>
                    {% else %}
                      <footer class="blockquote-footer">No bid yet</footer>
                    {% endif %}
                  </blockquote>
                  <form method="POST" action="../action/{{ property.propertyId }}/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                      <input type="file" class="form-control" name="document" />
                    </div>
                    <div class="hstack gap-3 mb-3">
                      <div class="input-group">
                        <div class="input-group-text">Place bid</div>
                        <input type="number" class="form-control" name="bid_amount" min="{% if property.currentBid > property.price %}{{ property.currentBid }}{% else %}{{ property.price }}{% endif %}" placeholder="{% if property.currentBid > property.price %}{{ property.currentBid }}{% else %}{{ property.price }}{% endif %}" required />
                      </div>
                      <button class="btn btn-primary" name="action" value="place_bid" type="submit">Place&nbsp;Bid</button>
                      <div class="vr"></div>
                      <button value="report" type="submit" name="action" class="btn btn-outline-danger">Report</button>
                    </div>
                  </form>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        {% else %}
          <p>No properties are available.</p>
        {% endif %}
      </div>
    </center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.9.0/cdn/shoelace-autoloader.js"></script>
  </body>
</html>
