<!DOCTYPE html>
<html lang="en">
  <style>
    section {
      margin: 20px;
    }
  </style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>25 Acres</title>
    <link rel="icon" type="image/png" href="..\..\media\home\logo.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  </head>
  <body data-bs-theme="dark">
    {% load static %}
    <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
        <a class="navbar-brand" href="#"><img src="{% static 'global/logo.png' %}" alt="25acres" width="30" height="30" /></a>
        <div class="collapse navbar-collapse mr-auto" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#home">Home</a>
            <a class="nav-item nav-link" href="#about">About</a>
            <a class="nav-item nav-link" href="#gallery">Gallery</a>
            <a class="nav-item nav-link" href="#contact">Contact</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Properties</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="/property/list">Property list</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/property/add">Add new property</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Signed in as {{ username }}</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="user/profile">View profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/signout">Sign out</a>
                </li>
              </ul>
            </li>
          </div>
        </div>
      </div>
    </nav>

    <section id="home">
      <center>
        <h1>Welcome to 25 Acres</h1>
        <p>Experience the serene beauty of nature.</p>
        <img src="{% static 'global/home_Image.jpg' %}" alt="Home image" width="60%" />
      </center>
    </section>

    <section id="about">
      <center>
        <h2>About Us</h2>
        <p>25 Acres is a haven of tranquility and peace, nestled amidst lush greenery.</p>
      </center>
    </section>

    <section id="gallery">
      <center>
        <h2>Gallery</h2>
        <div class="gallery-item" style="{% static 'global/styles.css' %}">
          <img src="{% static 'global/photo1.jpg' %}" alt="Image 1" width="20%" />
          <img src="{% static 'global/photo2.jpg' %}" alt="Image 2" width="35%" />
          <img src="{% static 'global/photo3.jpg' %}" alt="Image 3" width="27%" />
        </div>
      </center>
    </section>

    <section id="contact">
      <center>
        <h2>Contact Us</h2>
        <p>Email us at: contact@25acres.com</p>
        <p>
          Made with ❤ by <a href="https://github.com/ankitkat042">Ankit</a>, <a href="https://github.com/Chaitanya21033">Chaiti</a>, <a href="https://github.com/hyouteki">Lakshay</a>, <a href="https://github.com/guptasameer112">Sameer</a>
        </p>
      </center>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>

  <center>
    <p>
      <font size="1">© 2023 25 Acres. All Rights Reserved.</font>
    </p>
  </center>
</html>
